$primary: #1e4151;
$secondary: #fbf7e9;
$secondary-alt: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $primary
);
@import "~bootstrap/scss/bootstrap";

html, body, #signTransaction-root {
  height: 100%;
  background-color: $secondary;
  font-family: "Arvo", sans-serif;
}

.navbar {
  background-color: $primary;
  z-index: 1000;
}

.navbar p {
  color: white;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand img {
  max-width: 2rem;
}

.navbar span {
  color: $secondary;
  font-weight: 700 !important;
}

#signdata {
  font-family: "Arvo", sans-serif;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.tx-details {
  span, samp {
    margin-bottom: 0rem;
    font-size: 0.75rem;
  }
}
